@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@using Hanssens.Net
@model SignRequestExpress.Models.PostModels.SignRequestModel
@{
    //TempData.Keep("TestTemp");
}

<!--TODO: Add Question Marks for user questions-->



<form asp-controller="Sales" asp-action="SubmitRequest" method="post" novalidate>
    @*<div asp-validation-summary="All" class="text-danger"></div>*@

    <div class="form-row">
        <div class="col-lg-5">
            <label asp-for="AccountName" class="formLabel"></label>
            <i class="fas fa-plus-square" data-toggle="popover" title="Coming Feature"
               data-content="The feature for adding a new Account to your list will be available in the future."
               tabindex="0" data-trigger="focus"></i>            
            <select asp-for="AccountName" class="form-control">
                <option selected disabled>Select Account</option>
                <!--TODO: Add Iconic too create Addition button for a new account -->
                <!--No longer using below. Saving for knowledge.-->
                @*@if (ViewBag.AccountList != null)
            {
                foreach (var item in ViewBag.AccountList)
                {
                    <option>@item.ToString()</option>
                }
            }*@


                @try
                {
                    var storage = new LocalStorage();
                    var accountString = storage.Get("accountStorage").ToString();
                    accountString = accountString.Replace('[', ' ');
                    accountString = accountString.Replace(']', ' ');
                    accountString = accountString.Replace('"', ' ');

                    var accountList = accountString.Split(",");

                    foreach (var item in accountList)
                    {
                        <option value="@item">@item.Trim()</option>
                    }

                }
                catch (Exception ex)
                {
                    <option>Unable to load Accounts at this time.</option>
                }
            </select>
            <span asp-validation-for="AccountName" class="text-danger"></span>
        </div>
        <div class="col-md">
            <label asp-for="NeededDate" class="formLabel"></label>
            <i class="fas fa-question-circle" data-toggle="popover" title="Date Needed" data-html="true"
               data-content="Defaults to two (2) weeks from current date. Use the calendar icon to select a different date. <br/><br/> Note: Requests are not guaranteed to be complete if submitted within the two (2) week default window."
               tabindex="0" data-trigger="focus"></i>
            <input asp-for="NeededDate" id="dateneeded" readonly value="@DateTime.Now.AddDays(14).ToShortDateString()" />
        </div>
        <div class="col-md">
            <label for="dateRequestedStatic" class="formLabel">Date Requested:</label>
            <input type="text" readonly class="form-control" id="dateRequestedStatic"
                   value="@DateTime.Now.ToShortDateString()" />
        </div>        
    </div>    

    <div class="form-row">
        <div class="col-md">
            <label asp-for="Reason" class="formLabel"></label>
            <i class="fas fa-question-circle" data-toggle="popover" title="Optional" 
               data-content="Use this to give additional information to help the designer prioritize the order Requests are completed." 
               tabindex="0" data-trigger="focus"></i>
            <input asp-for="Reason" type="text" class="form-control" placeholder="Reason" />
        </div> 
        <div class="col-md">
            <label asp-for="MediaFK" class="formLabel"></label>
            <i class="fas fa-question-circle" data-toggle="popover" title="Media Type"
               data-content="Media Type is the material the sign will be printed on. See the 'Help' page for more information about signs and Media Types."
               tabindex="0" data-trigger="focus"></i>
            <select asp-for="MediaFK" class="custom-select form-control">
                <!--TODO: Store on client device - would sqlite work?-->
                <option selected disabled>Media Type</option>
                <option value="1">Adhesive</option>
                <!--TODO: Option appears if selected for Corr-Plast -- jQeury, Angular?-->
                <option value="2">Photo Glossy</option>
                <option value="3">Matte Outdoor</option>
                <option value="4">Plasticore</option>
                <!--TODO: Option appears if selected for Lighted -- accomplished with jQuery? Angular-->
            </select>
            <span asp-validation-for="MediaFK" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <!--TODO: Figure out how to disable form elements based off other's selection-->
        <!--TODO: Fix height/width from byte that way fractional dimensions can be accepted-->
        <div class="col-sm-2">
            <label asp-for="Quantity" class="formLabel"></label>
            <input asp-for="Quantity" class="form-control" type="number" value="1" min="0" max="100" />
        </div>
        <div class="col-sm-4">
            <label asp-for="HeightInch" class="formLabel"></label>
            <input asp-for="HeightInch" class="form-control" id="heightInput" type="number" placeholder="Height" step="0.125" min="0.125" max="500" />
            <span asp-validation-for="HeightInch" class="text-danger"></span>
        </div>
        <div class="col-sm-4">
            <label asp-for="WidthInch" class="formLabel"></label>
            <input asp-for="WidthInch" class="form-control" id="heightInput" type="number" placeholder="Width" step="0.125" min="0.125" max="500" />
            <span asp-validation-for="WidthInch" class="text-danger"></span>
        </div>
        <div class="col-md">
            <!--TODO: orientation auto switch-->
            <label for="signOrientation" class="formLabel orientation-label">Orientation: <i class="fas fa-sync" id="orientationSwap"></i></label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="signOrientation" id="horizontalCheckbox" value="horizontal" />
                <label class="form-check-label" for="horizontalCheckbox"><i class="fas fa-arrows-alt-h"></i></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="signOrientation" id="verticalCheckbox" value="vertical" />
                <label class="form-check-label" for="verticalCheckbox"><i class="fas fa-arrows-alt-v"></i></label>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-lg-6">
            <label for="templateBrand" class="formLabel">Brand:</label>
            <select asp-for="Brand" class="custom-select form-control form-inline" id="templateBrand" name="brandSelect">
                <option value="" selected disabled>Select Brand</option>
                @try
                {
                    var storage = new LocalStorage();
                    var brandString = storage.Get("brandStorage").ToString();
                    brandString = brandString.Replace('[', ' ');
                    brandString = brandString.Replace(']', ' ');
                    brandString = brandString.Replace('"', ' ');

                    var brandList = brandString.Split(",");

                    foreach (var item in brandList)
                    {
                        <option value="@item">@item</option>
                    }

                }
                catch (Exception ex)
                {
                    <option value="Error">Unable to load Brands at this time.</option>
                }
            </select>
            <span asp-validation-for="Brand" class="text-danger"></span>
        </div>
        <div class="col-md">
            <label asp-for="Template" class="formLabel"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <button type="button" id="templateBtn" class="btn btn-secondary" data-toggle="modal" data-target="#templateModal" disabled>
                        Choose Template
                    </button>
                </div>                
                <input type="text" readonly class="form-control" id="staticTemplate" placeholder="Selected Template" aria-label="" aria-describedby="basic-addon1"/>
            </div>

            <!--May need to change role for the form purpose - returning a select?-->
            <div class="modal fade" id="templateModal" tabindex="-1" role="dialog" aria-labelledby="templateModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="templateModalLabel">Select a Template</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="dataDiv">
                                <select asp-for="Template" class="image-picker" id="templateSelect">
                                    <!--Populated with ajax-->
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save Selection</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col">
            <label asp-for="ImageUri" class="formLabel"></label>
            <p><i>TODO: Account Logo</i></p>
            <!--TODO: Create Yes/No include account logo if there is one on file?-->
        </div>
        <div class="col">
            <label asp-for="DataFileUri" class="formLabel"></label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col">
            <div class="form-group">
                <label asp-for="Information" class="formLabel"></label>
                <i class="fas fa-question-circle" data-toggle="popover" title="Sign Details"
                   data-content="Use this area to describe the information that should be included on the sign. "
                   tabindex="0" data-trigger="focus"></i>
                <small id="infoHelp" class="form-text text-muted">TODO: Enter the sign disclaimer here.</small>
                <!--TODO: Insert sign request form information, include in help as well. CREATE jump? LINK TO HELP-->
                <textarea asp-for="Information" class="form-control" id="detailsTextarea" rows="3" aria-describedby="infoHelp"></textarea>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col">
            <button class="btn btn-primary" type="submit">Submit Request</button>
        </div>
        <div class="col form-inline">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="proofCheck" />
                <label class="form-check-label" for="proofCheck">Proof Needed Before Print</label>
            </div>
        </div>
    </div>
    <!--TODO: Form refresh button-->

</form>

