@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    ViewData["Title"] = "TestPage";
    Layout = "_Layout";
}

<br />
<br />


<h4>@ViewData["test1"]</h4>

<br />

<h4>@ViewData["test2"]</h4>

<br />

<h4>@ViewData["test3"]</h4>

<br />

<h4>@ViewData["test4"]</h4>

<br />

<h4>@ViewData["test5"]</h4>

<br />

<h4>@ViewData["test6"]</h4>

<br />

<h4>@ViewData["test7"]</h4>

<br />

<h4>@ViewData["test8"]</h4>

<br />

<h4>@ViewData["test9"]</h4>

<br />

<h4>@ViewData["test10"]</h4>